.containers {
  display: flex;
  gap: 1rem;
}

.mainContainer {
  width: 100%;
}

.courseClass {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.sideContainer {
  width: 280px;
  min-width: 280px;
  margin-top: 1rem;
}
