/* CustomInput.module.css */

/* .inputContainer {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 1rem;
  display: flex;
} */

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 1rem;
}

.input:focus-visible {
  outline: none;
}

/* .mandatorySign::after {
  content: " *";
  color: red;
} */

/* .mandatorySign {
  padding: 2px;
  height: 30px;
  width: 200px;
  background-image: url("http://www.fileformat.info/info/unicode/char/002a/asterisk.png");
  background-position: 160px -10px;
  background-repeat: no-repeat;
  background-size: 30%;
} */

/* .mandatorySign::placeholder:after {
  position: absolute;
  margin-left: 0.5rem;
  content: " *";
  color: red;
  top: 0;
  font-size: 2rem;
} */

.invalid {
  border: 1px solid var(--darkInvalidColor);
}

.invalidText {
  font-size: 0.9rem;
  color: var(--darkInvalidColor);
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
