.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.BackBtn {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 1rem;
  display: flex;
  gap: 0.2rem;
  cursor: pointer;
}

.BackBtn:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.arrowIcon {
  color: var(--primary);
  font-size: 2.5rem;
  line-height: 1.5rem;
  height: 30px;
}

.backText {
  color: var(--primary);
  font-size: 1.3rem;
  height: 30px;
}

.formFrame {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  font-size: 2rem;
  font-weight: 600;
}
