.navBarForMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eb3223;
  color: white;
  padding: 10px;
  gap: 5px;
}

.linksForMobile {
  padding: 5px;
  background-color: #f3483a;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: start;
  padding-left: 10px;
}

.dropdown {
  margin-top: 5px;
  background-color: #f3483a;
  padding: 0.5rem;
}

.dropdown a {
  padding: 5px;
  background-color: #f3483a;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: start;
  padding-left: 10px;
}
